input {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background-color: var(--action-disabled-bg);
  border: 1px solid var(--action-disabled);
  border-radius: 10px;
  padding: 10px;
}

input::placeholder {
  color: var(--action-disabled);
}

input:hover {
  border-color: var(--text-color);
}

input:focus {
  border-color: var(--primary-main);
}

input:disabled {
  border: transparent;
  background-color: var(--action-disabled-bg);
  cursor: not-allowed;
}
