.shadow-primary {
  box-shadow: var(--shadow-primary);
}

.shadow-info {
  box-shadow: var(--shadow-info);
}

.shadow-success {
  box-shadow: var(--shadow-success);
}

.shadow-warning {
  box-shadow: var(--shadow-warning);
}

.shadow-error {
  box-shadow: var(--shadow-error);
}

.shadow-z1 {
  box-shadow: var(--shadow-z1);
}

.shadow-z8 {
  box-shadow: var(--shadow-z8);
}

.shadow-z12 {
  box-shadow: var(--shadow-z12);
}

.shadow-z16 {
  box-shadow: var(--shadow-z16);
}

.shadow-z20 {
  box-shadow: var(--shadow-z20);
}

.shadow-z24 {
  box-shadow: var(--shadow-z24);
}
