.subtitle1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.subtitle2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.body2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.caption {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.overline {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
